

label {
    width: 100px;
    clear: left;
    text-align: left;
    padding-right: 10px;
  }

h1
{
   color:green;
}

.highlight
{
    background-color:yellow;
}
p
{
padding-bottom:10px;
}


body 
{
    background-color:black;
    color:black;
    font-family: Arial;
    padding-left: auto;
    padding--right:90px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.maindiv
{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    
    border-radius: 25px;
    margin-left: auto;
    margin-right:800px;
}